{% extends 'home.html' %}
{% block conteudo %}
    <div class="cards">
        <div class="card-item">
            <img src="static/img/colorama.png" alt="colorama">
            <p class="nome-user">COLORAMA</p>
        </div>
        <div class="card-item">
            <img src="static/img/impala.png" alt="impala">
            <p class="nome-user">IMPALA</p>
        </div>
        <div class="card-item">
            <img src="static/img/risque.png" alt="risque">
            <p class="nome-user">RISQUÉ</p>
        </div>
    </div>
{% endblock conteudo %}