{% extends 'home.html' %}
{% block conteudo %}
    <h1>INVENTÁRIO RISQUÉ</h1>

    <div class="cards-pai">

        <h5 class="card-title">COLEÇÃO - ROSÊ GOLD</h5>

        <div class="cards">
            <div class="card-esmalte">
                <img src="static/img/melissa.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">MELISSA</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">11 unidades</small>
                </div>
            </div>

            <div class="card-esmalte">
                <img src="static/img/condessa.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">CONDESSA</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">10 unidades</small>
                </div>
            </div>

            <div class="card-esmalte">
                <img src="static/img/granulado rose.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">GRANULADO ROSÉ</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">15 unidades</small>
                </div>
            </div>

            <div class="card-esmalte">
                <img src="static/img/astral.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">ASTRAL</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">12 unidades</small>
                </div>
            </div>


            <p class="seta"><img src="static/img/seta.svg"></p>
        </div>
    </div>

    <div class="cards-pai"></div>

    <h5 class="card-title">COLEÇÃO - É DO MEU JEITO</h5>

    <div class="cards">
        <div class="card-esmalte">
            <img src="static/img/esti.rosa.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">ESTI.ROSA</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">1O unidades</small>
            </div>
        </div>

        <div class="card-esmalte">
            <img src="static/img/vivendo da minha arte.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">VIVENDO DA MINHA ARTE</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">16 unidades</small>
            </div>
        </div>

        <div class="card-esmalte">
            <img src="static/img/mar de possibilidades.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">MAR DE POSSIBILIDADES</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">14 unidades</small>
            </div>
        </div>

        <div class="card-esmalte">
            <img src="static/img/a artista sou eu.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">A ARTISTA SOU EU</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">20 unidades</small>
            </div>
        </div>

        <p class="seta"><img src="static/img/seta.svg"></p>
    </div>
{% endblock conteudo %}
